/*-------------------------------------------*/
/*  common
/*-------------------------------------------*/
*,
::after,
::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.maetic {
	font-family: "メイリオ", Meiryo, "Hiragino Kaku Gothic Pro",
		"ヒラギノ角ゴ Pro W3", Hiragino Sans, "Noto Sans JP", sans-serif;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	font-weight: 400;
	line-height: 1.5;
	color: #222;
	text-align: left;
	font-size: 14px;
	margin: 0;
	background-color: #fcfcfc;
	@media (min-width: $lg-min) {
		font-size: 16px;
	}
	@media (min-width: $xl-min) {
		background-color: $translucent_gray_color;
	}
	// ._clear {
	// 	background-color: $secondary_color;
	// 	border-color: $secondary_color_dark;

	// 	&:focus,
	// 	&:hover {
	// 		color: #fff;
	// 		background-color: $secondary_color_dark;
	// 		border-color: $secondary_color_dark;
	// 	}
	// }
	button,
	input,
	optgroup,
	select,
	textarea {
		margin: 0;
		font-size: 1em;
		line-height: 1em;
		font-weight: normal;
		font-family: inherit;
	}
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 1.8em 0 1.2em;
		clear: both;
		font-weight: normal;
		line-height: 1.4;
		position: relative;
	}
	h2 {
		padding: 0.8em 0 0.7em;
		border-top: 2px solid $key_color;
		border-bottom: 1px solid #e9e9e9;
		font-size: 1.25rem;
		&:before,
		&:after {
			content: none;
		}
		&:first-child {
			margin-top: 0;
		}
	}
	h4 {
		padding-bottom: 4px;
		position: relative;
		border-bottom: 1px solid #ccc;
		margin: 1em 0 0.875rem;
		font-size: 1rem;
		&:before {
			content: "■";
			color: var(--mae-color-key, $key_color);
			margin-right: 0.2rem;
		}
	}
	.container {
		max-width: 1024px;
		padding: 1em 1em 2em;
		position: relative;
		margin-left: auto;
		margin-right: auto;
	}

	.info {
		._code {
			position: relative;
			font-size: 1.313em;
			margin-top: 0.7em;
			font-weight: bold;
			display: block;
			font-family: sans-serif;
			text-align: center;

			@media (min-width: $md-min) {
				margin-top: 0;
				font-size: 2.2em;
				text-align: center;
			}
		}
		// a {
		// 	@include btn_default;
		// 	display: inline;
		// 	margin-bottom: 10em;
		// 	pointer-events: auto;
		// 	cursor: pointer;
		// 	text-decoration: none;
		// 	&:hover {
		// 		@include btn_default_hover;
		// 	}
		// }
		h2 ._button {
			margin-left: 1em;
			position: relative;
			top: -3px;
		}
		ul {
			list-style: none;
			padding-left: 0;
			li {
				position: relative;
				margin-bottom: 0.8em;
				line-height: 1.65em;
				&::before {
					content: "■";
					color: $key_color;
					padding-right: 0.2em;
				}
			}
		}
		dl,
		ol,
		ul {
			margin-top: 1.5em;
			margin-bottom: 1.2em;
		}
	}
}
