#maetic_meta {
    .maetic_code {
        font-size: 1.5em;
        font-weight: bold;
        font-family: "san-serif";
    }

    table {
        list-style: none;
    }

    .tickets {

        li {
            padding-left: 0.5em;
            border-left: green solid 1px;
            margin-bottom: 1em;
        }
    }

    ._info {

    }

    .__logs {
        padding-left: 1em;
        li {

        }
    }
}

// dashboard
#maetic_dashboard {
    .inside {
        margin-top: 0px;
        padding-top: 11px;
        background-color: #2ad43f;
        color: #fff;
    }
}

#maetic_noticebox {
    .notice {
        padding: 19px 12px;
        span {
            margin: .5em .5em 0 0;
        }
    }
}
