#maetic_meta {
    .maetic_code {
        font-size: 1.5em;
        font-weight: bold;
        font-family: "san-serif";
    }

    table {
        list-style: none;
    }

    .tickets {

        li {
            padding-left: 0.5em;
            border-left: green solid 1px;
            margin-bottom: 1em;
        }
    }

    ._info {

    }

    .__logs {
        padding-left: 1em;
        li {

        }
    }
}
